button {
  background-color: var( --btn-color);
  color: var(--main-bg-color);
  font-family: var( --font-headings);
  font-weight: 600;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 3px;
}