@import './styles/variables.css';
@import './styles/Navbar.css';
@import './styles/variables.css';
@import './styles/Home.css';
@import './styles//Button.css';
@import './styles/Footer.css';

:root {
  background-color: var(--main-bg-color);
}

#root {
  width: 100%;
  max-width: 1600px;
  margin: auto;

}